.venv/
chainstory/chainstory/__pycache__/
chainstory/linkapp/__pycache__/
chainstory/linkapp/migrations/__pycache__/
*.sqlite3
.DS_Store
chainstory/staticfiles/
*venv
*.pyc
__pycache__/
db.sqlite3
.env
static/