<!DOCTYPE html>
<html>
<head>
    <title>Lobby</title>
</head>
<body>
    <h1>Let's chat!</h1>
    <input id="chat-message-input" type="text" size="30">
    <input id="chat-message-submit" type="button" value="Send">
    <div id="chat-log"></div>

    <script>
        const chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/somepath/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').innerHTML += (data.message + '<br>');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // Enter key
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = ''; // Clear input field
        };

        // Fetch existing message on page load
        fetch('/api/chat/messages/')
            .then(response => response.json())
            .then(data => {
                data.messages.forEach(message => {
                    document.querySelector('#chat-log').innerHTML += (message.content + '<br>');
                });
            });
    </script>
</body>
</html>